@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vfaz4t');
  src:  url('fonts/icomoon.eot?vfaz4t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vfaz4t') format('truetype'),
    url('fonts/icomoon.woff?vfaz4t') format('woff'),
    url('fonts/icomoon.svg?vfaz4t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favicon:before {
  content: "\e907";
}
.icon-coffee_cup_r1:before {
  content: "\e904";
}
.icon-coffee_cup_r2:before {
  content: "\e905";
}
.icon-coffee_cup:before {
  content: "\e906";
}
.icon-coffee:before {
  content: "\e900";
}
.icon-coffee1:before {
  content: "\e901";
}
.icon-coffee2:before {
  content: "\e902";
}
.icon-coffee3:before {
  content: "\e903";
}
